html

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Taviraj', serif;
}

body > a {
    align-items: center;
    font-size: x-large;
}

.item1 {
    grid-area: goNumbers;
    text-decoration: none;
    text-align: center;
    background-color:dodgerblue;
}

.item2 {
    grid-area: goMaps;
    text-decoration: none;
    text-align: center;
    background-color:yellow;
}

.item3 {
    grid-area: goInsurance;
    text-decoration: none;
    text-align: center;
    background-color:dodgerblue;
}

.item4 {
    grid-area: image;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.item5 {
    grid-area: title;
    text-decoration: none;
    text-align: center;
}

.item6 {
    grid-area: goInfo;
    text-decoration: none;
    text-align: center;
    background-color:yellow;
}

.item7 {
    grid-area: myContent;
    text-decoration: none;
    background-color: dodgerblue;
}

.item8 {
    grid-area: feedback;
    text-decoration: none;
    background-color: yellow;
}

.mainGrid {
    display: grid;
    grid-template-areas: 
    'goNumbers'
    'goMaps'
    'goInsurance'
    'goInfo'
    'myContent'
    'feedback';
    font-size: x-large;
    margin: 0%;
    padding: 0%;
}

.subGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    'image title';
    align-items: center;
}

a {
    color: black;
}

a:hover{
    background-color:mediumturquoise;
    color: black;
}

.hero{
    margin: 0%;
    border: 0ch;
}

.p-5 {
    padding: 0%;
    background-image: url("/images/Aerial_Sunset_Vancouver.jpg")
}

.display-5 {
    color: white;
}

.col-md-8 {
    color: white;
}

.container-fluid {
    margin: 0%;
    padding: 0%;
}