html
body {
    padding: 0%;
    margin: 0%;
}

body > a {
    align-items: center;
    font-size: x-large;
}

.item1 {
    grid-area: goNumbers;
    text-decoration: none;
    text-align: center;
    background-color: blue;
}

.item2 {
    grid-area: goMaps;
    text-decoration: none;
    text-align: center;
    background-color:yellow;
}

.item3 {
    grid-area: goInsurance;
    text-decoration: none;
    text-align: center;
    background-color:blue;
}

.item4 {
    grid-area: image;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.item5 {
    grid-area: title;
    text-decoration: none;
    text-align: center;
}

.item6 {
    grid-area: goInfo;
    text-decoration: none;
    text-align: center;
    background-color:yellow;
}

.item7 {
    grid-area: myContent;
    text-decoration: none;
    background-color: blue;
}

.mainGrid {
    display: grid;
    grid-template-areas: 
    'goNumbers'
    'goMaps'
    'goInsurance'
    'goInfo'
    'myContent';
    font-size: x-large;
    margin: 0%;
    padding: 0%;
}

.subGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    'image title';
    align-items: center;
}

a {
    color: black;
}

a:hover{
    background-color:#0275d8;
    color: black;
}