#map {
    height: 400px;
    width: 100%;
}

.grid1{
    grid-area: Hospitals;
    text-align: center;
}

.grid2{
    grid-area: Pharmacy;
    text-align: center;
}

.grid3{
    grid-area: ICBC;
    text-align: center;
}

.grid4{
    grid-area: title;
    text-align: center;
    font-size: x-large;

}

.buttonGrid{
    display: grid !important;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 75px;
    grid-template-areas: 
    'title title title'
    'Hospitals Pharmacy ICBC';
    margin: 0%;
}

a {
    color: black;
}

h1{
    font-size: xx-large;
}

.btn-light:hover {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.grid1 a {
    padding: 15px;
}

.grid1 a:hover {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

body {
    color: black;
    font-family: Arial;
    font-size: 16px;
  }
  .wrapper {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .button {
    padding: 15px 100px;
    margin: 10px 4px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
  }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(.1);
    transform: scaleY(.1);
    transition: all .4s
  }
  .button:hover {
    color: dodgerblue;
  }
  .button:hover::before {
    opacity: 1;
    background-color: mediumturquoise;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }