.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: #313438;
	height: 100vh;
}

a{
	text-decoration: none;
}

.contacts-library{
	background-color: powderblue;
}

.contact-name{
	color: rgb(10, 4, 4);
	font-size: 1.3em;
	margin-bottom: 7px;
	margin-left:auto;
	margin-right: auto;
}

ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

hr{
	border: 1px solicontactd #494a4b;
}

.list__item{
	list-style: none;
}

#leftSide {
	float: left;
	width: 13%;
	align-items: center;
}

.list_description p {
	font-size: 1.75em;
	margin-top: 1em;
	width: 87%;
	margin-left: 1.4em;
}

.action{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 100px;
	border-top-left-radius: 0;
	background-color:firebrick;
	margin-left:auto;
	margin-right: auto;
}

.actionLess{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 100px;
	border-top-left-radius: 0;
	background-color:darkcyan;
	margin-left:auto;
	margin-right: auto;
}

.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
	transition: 0.3s;
	width: 100%;
	text-align: center;

}

#listObject {
	float: left;
}

.text{
	padding-left: 1em;
}