.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: #313438;
	height: 100vh;
}

a{
	text-decoration: none;
}

.contacts-library{
	background-color: powderblue;
}

.contact-name{
	color: rgb(10, 4, 4);
	font-size: 1.3em;
	margin-bottom: 7px;
	margin-left: 5vw;
    margin-top: 1.5em;
    margin-bottom: auto;
}

ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

hr{
	border: 1px solicontactd #494a4b;
}

.list__item{
	list-style: none;
    width: 100%;
}

#leftSide {
	float: left;
}

.list_description p {
	font-size: 1.75em;
	margin-top: 1em;
}

#para {
    padding: 1em;
}

h1 {
    padding: 0.2em;
}

.action{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: 2em 0.78em;
	background-color:dodgerblue;
	margin-left: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.actionLess{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: 2em 0.78em;
	background-color:dodgerblue;
	margin-left: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
	transition: 0.3s;
	width: 100%;
	text-align: center;

}



#listObject {
	float: left;
}

.text{
	padding-left: 1em;
}